.post {
  height: 100px;
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  font-size: calc(1vw + 5px);
}

  .post img {
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
  }

  .post span {
    margin-top: 7.5px;
    margin-left: 12.5px;
  }