* {
  padding: 0;
  margin: 0;
}


.login {
  color: white
}


  .logout img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: -5px;
  }


.usersCount {
  color: white;
  background-color: black;
  margin-left: 10px;
  padding: 0px 3px;
  height: 30px;
  width: 60px;
  font-weight: 700;
  border-radius: 0.25rem;

}